@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: #797b81;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;

    padding: 0.7rem;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header > ul,
.footer > ul {
    display: flex;
    gap: 12px;
    padding: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
}
